html {
    font-size: 100%;
}

html,
body {
    background-color: $body-background-color;
}

body {
    @include base-font-size();
    color: $secondary-font-color;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    background-color: $main-background-color;
    padding: 2.000rem 0;
}

.container {
    margin: 0 auto;
    max-width: $max-width-small;
    padding: 0 $gutter-small;

    @if $enable-large == true {
        @media (min-width: $breakpoint-large) {
            max-width: $max-width-large;
            padding: 0 $gutter-large;
        }
    }
}

a {
    color: $link-color;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.active {
        color: $disabled-font-color;
        pointer-events: none;
        text-decoration: none;
    }

    figure & {
        color: inherit;
        font-weight: normal;
    }
}

em {
    font-style: italic;
}

.icon {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 1.500rem;
    justify-content: center;
    padding: 0;
    user-select: none;
    width: 1.500rem;

    svg {
        height: 100%;
        width: 100%;
    }

}

h1 {
    @include heading-font-size();
    color: $primary-font-color;
    font-weight: bold;
    margin-bottom: 1.500rem;
}

figure,
.video-container {
    background-color: $body-background-color;
    border-radius: $border-radius;
    border: 0.031rem solid $image-border-color;
    overflow: hidden;
}

img,
video {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

[class*=responsive-image-] {
    display: block;
    overflow: hidden;
    position: relative;

    img,
    video {
        left: 0;
        position: absolute;
        top: 0;
    }

    video {
        border-radius: $border-radius;
    }
}

.responsive-image-16-9 {
    padding-bottom: 56.25%;
}

.responsive-image-2-3 {
    padding-bottom: 150%;
}

p {
    line-height: 1.5;
}

hr {
    border: none;
    border-bottom: 0.063rem solid $hr-color;
    height: 0;
    margin: 2.000rem 0;
    overflow: hidden;
}

code {
    background-color: $code-background-color;
    font-family: monospace;
    letter-spacing: 0;
    line-height: 1;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.unavailable {
    color: $unavailable-color;
    display: inline;
    font-weight: 600;
}

.paginator {
    display: flex;
    flex-wrap: wrap;

    hr {
        flex-basis: 100%;
    }

    .next {
        margin-left: auto;
    }
}

._404 {
    text-align: center;
}

._404 main .container div:not(.video-container) {
    font-weight: bold;
    margin-top: 1.000rem;
}
