{{ define "main" }}
{{/*  get the metadata for tags  */}}
{{ $actor := index (.Params.actors) 0 | urlize }}
{{ $category := index (.Params.categories) 0 | urlize }}
{{ $featureTitle := index (.Params.titles) 0 | urlize}}
{{ $media := index (.Params.media) 0 | urlize }}
{{/*  get the image name and find the matched resource in uploads folder  */}}
{{ $imageName := partial "img" (dict "context" . "type" "item") | urlize }}
{{ $imageName = print $imageName ".*" }}
{{ $imageResource := (.Site.GetPage "uploads").Resources.GetMatch $imageName }}
<div class="container">
    <article class="single single-item">
        <figure>
            <a href="https://forms.gle/fNo932MizpSYxzkg9" class="icon" title="Report post" target="_blank">
                {{ partial "svg" (dict "name" "report") }}
            </a>
            <div class="responsive-image-16-9">
                {{/*  if an image resource is matched, create image sizes  */}}
                {{ if ne $imageResource nil }}
                    {{/*  check if original image is large enough to make 1x and 2x sizes  */}}
                    {{ $single1x := cond (ge $imageResource.Width "599") true false }}
                    {{ $single2x := cond (ge $imageResource.Width "1198") true false }}
                    {{ if or (eq $single1x false) (eq $single2x false) }}
                        {{/*  the original is not large enough to cover one of the sizes  */}}
                        {{/*  process the original at original dimension to reduce file size  */}}
                        {{ $options := print $imageResource.Width "x" $imageResource.Height }}
                        {{ $imageResource = $imageResource.Resize $options }}
                    {{ end }}
                    {{/*  set the appropriate resource for the var  */}}
                    {{ $single1x = cond (eq $single1x true) ($imageResource.Fill "599x337 Center") $imageResource }}
                    {{ $single2x = cond (eq $single2x true) ($imageResource.Fill "1198x674 Center") $imageResource }}
                    <img
                        src="{{ $single1x.RelPermalink }}"
                        sizes="(max-width: 600px) calc(100vw - 24px), 600px"
                        srcset="{{ $single1x.RelPermalink }} {{ $single1x.Width }}w,
                                {{ $single2x.RelPermalink }} {{ $single2x.Width }}w"
                        alt="{{ .Title | title }}"
                    >
                {{/*  if no image resource found serve fallback image */}}
                {{ else }}
                    <img src="/img/fallback-item.png" alt="{{ .Title | title }}">
                {{ end }}
            </div>
        </figure>
        <h1>{{ .Title | title }}</h1>
        <div class="tags">
            <a href="/{{ $category }}/">#{{ $category }},&nbsp;</a>
            <a href="/{{ $media }}/">#{{ $media }},&nbsp;</a>
            <a href="/{{ $actor }}/">#{{ $actor }},&nbsp;</a>
            <a href="/{{ $featureTitle }}/">#{{ $featureTitle }}</a>
        </div>
        {{ .Content }}
        {{ if .Params.graveyard }}
        <div class="unavailable">unavailable</div>
        {{ else }}
        <a href="{{ .Params.link }}" class="buy" target="_blank" rel="nofollow">
            {{ .Params.price }} @ {{ .Params.place }} →
        </a>
        <div class="ftc">Filmgarb uses some income earning affiliate links</div>
        {{ end }}
    </article>
    <hr>
    <h1>Related</h1>
    <div class="item-feed small">
        {{ $related := .Site.RegularPages.Related . | first 4 }}
        {{ with $related }}
            {{ range . }}
                {{ partial "item" (dict "context" . "type" "small") }}
            {{ end }}
        {{ end }}
    </div>
    <hr>
    <h1>Random</h1>
    <div class="item-feed mosaic">
        {{ $random := where (where .Site.RegularPages "Type" "items") "Title" "!=" .Title }}
        {{ $random =  partial "random" (dict "context" . "items" $random) }}
        {{ range $random }}
            {{ partial "item" (dict "context" . "type" "mosaic") }}
        {{ end }}
    </div>
</div>
{{ end }}
